body {
    font-family: 'Open Sans', sans-serif;
}

.main-column {
    height: 100vh;
    width: 33.3333%;
    float: left;
}

/*start buttons*/
.btn {
    width: 50%;
    height: 50px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    display: block;
    margin: 2% auto;
}

.btn-primary {
    background-color: #0D5DCF;
}

.btn-secondary {
    background-color: #acacac;
}

.btn-ghost {
    background-color: white;
    border: 1px solid #acacac;
    color: #acacac;
}

.btn-container {
    padding: 35vh 0;
}
/*end buttons*/

/*start card*/
.card {
    margin: 20vh auto;
    width: 250px;
    height: 400px;
    box-shadow: 1px 1px 10px grey;
}

.card-image {
    background: url(../images/seattle-2534686_1920.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 40%;
}

.card-content {
    padding: 10px;
}
/*end card*/
/*start alert*/
.alert {
    margin: 1vh auto;
    width: 90%;
    padding: 15px;
    border-radius: 5px;
}
.alert-default {
    background-color: #CADAC4;
    border: 1px solid #3B763D;
    color: #3B763D;
}
.alert-warning {
    background-color: #FDF8E3;
    border: 1px solid #8A6C3A;
    color: #8A6C3A;
}
.alert-danger {
    background-color: #F2DEDF;
    border: 1px solid #A84441;
    color: #A84441;
}
.alerts {
    padding: 33vh 0;
}
/*end alert*/